// Place all the styles related to the index controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'materialize/components/color';
@import 'materialize';

$mild-white: #ffebee;

.time-area {
  color: $mild-white;
  font-family: 'Baloo', cursive;
  font-size: 80px;

  .work-time,
  .break-time {
    text-align: left;
  }
}
